section{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;

}


.Inicio {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
}