.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6f61;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-left {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-right {
  position: relative;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  display: block;
  right: 0;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s;
  
}

.dropdown-menu a:hover {
  background-color: #ff6f61;
  color: white;
}